*, ::after, ::before {
    box-sizing: border-box;
}

body, html{ 
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: antiquewhite;
}

#title, #subtitle {
    text-align: center;
    font-family:'Brush Script MT';
    word-spacing: 10px;
    line-height: 10px;
}

#title {
    font-size:  8em;
}

#subtitle {
    font-size: 5em;
}

#heart-container {
    background-image: url(heart.svg);
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 100%;
}

.grid--container {
    
    width: fit-content;
    margin: auto;
    position: relative;
    bottom: 0;
    top: 20%;
    left: 0;
    right: 0;
    display: grid;
    gap: 5rem;
}

#slide01 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#pic01 {
    background-image: url(pics/us1.jpg);
    transform: rotate(-10deg);
}

#pic02 {
    background-image: url(pics/us2.jpg);
    transform: rotate(10deg);
}

#pic03 {
    background-image: url(pics/kai.jpg);
    transform: rotate(10deg);
}

#pic04 {
    background-image: url(pics/bubby.jpg);
    transform: rotate(-10deg);
}

#slide02 {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#pic07 {
    background-image: url(pics/kai-bubby-brit.jpg);
    transform: rotate(-5deg);
    height: auto;
    grid-row-start: 1;
    grid-row-end: 3;
}

#pic06 {
    background-image: url(pics/kai-brit.jpg);
    transform: rotate(10deg);
}

#pic05 {
    background-image: url(pics/brit-george.jpg);
    transform: rotate(-10deg);
}

.small-pic {
    width: 300px;
    height: 300px;
    
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
}